body {
    background-color: rgb(2, 7, 1);
}

.hover-salmon:hover {
    background-color: rgb(255, 102, 0);
    border-style: unset;
    padding: 27px 0 0 43px;
    color: transparent;
}

.hover-blue:hover {
    background-color: rgb(0, 17, 255);
    border-style: unset;
    padding: 27px 0 0 43px;
    color: transparent;
}

.hover-brown:hover {
    background-color: rgb(160, 75, 75);
    border-style: unset;
    padding: 27px 0 0 43px;
    color: transparent;
}

.hover-yellow:hover {
    background-color: rgb(255, 251, 2);
    border-style: unset;
    padding: 27px 0 0 43px;
    color: transparent;
}

.hover-pink:hover {
    background-color: rgb(255, 0, 76);
    border-style: unset;
    padding: 27px 0 0 43px;
    color: transparent;
}

.green{
    background-color: chartreuse;
}

.blue {
    background-color: blue;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: red;
}

.pink {
    background-color: pink;
}

.white {
    background-color: white;

}
.gray {
background-color: gray;
}

.orange {
    background-color:orange;
}

.brown {
    background-color: brown;
}

.purple {
    background-color: purple;
}

.light-blue {
    background-color: lightskyblue;
}

.col-1 {
    height: 88px;
    width: 300px;
    border-style: solid;
    border-width: 5px;
    padding: 23px 0px 0 39px;
}

@media (max-width: 1200px) {
	
    .green{
        background-color: palevioletred;
    }
    .col-1 {
    padding: 23px 0px 0 30px;

    }
}

@media (max-width: 996px) {
	
    .green{
        background-color: rgb(255, 251, 2);
    }
    .col-1 {
        padding: 23px 0px 0 22px;
    
        }
}

@media (max-width: 770px) {
	
    .green{
        background-color: rgb(255, 251, 2);
    }
    .col-1 {
        padding: 23px 0px 0 14px;
    
        }
}

@media (max-width: 759px) {
	
    .green{
        background-color: rgb(255, 175, 2);
    }
    .col-1 {
        padding: 23px 0px 0 14px;
    
        }
}

@media (max-width: 735px) {
	
    .green{
        background-color: rgb(2, 255, 150);
    }
    .col-1 {
        padding: 23px 0px 0 14px;
    
        }
}

@media (max-width: 720px) {
	
    .green{
        background-color: rgb(2, 255, 213);
    }
    .col-1 {
        padding: 23px 0px 0 14px;
    
        }
}

@media (max-width: 700px) {
	
    .green{
        background-color: rgb(255, 2, 2);
    }
    .col-1 {
        padding: 23px 0px 0 14px;
    
        }
}

/*  */

@media (max-width: 670px) {
	
    .green{
        background-color: rgb(219, 207, 207);
    }
    .col-1 {
        padding: 23px 0px 0 14px;
    
        }
}

@media (max-width: 635px) {
	
    .green{
        background-color: rgb(120, 2, 255);
    }
    .col-1 {
        padding: 23px 0px 0 14px;
    
        }
}

@media (max-width: 600px) {
	
    .green{
        background-color: rgb(253, 104, 213);
    }
    .col-1 {
        padding: 23px 0px 0 14px;
    
        }
}

@media (max-width: 570px) {
	
    .green{
        background-color: rgb(137, 255, 156);
    }
    .col-1 {
        padding: 23px 0px 0 14px;
    
        }
}

@media (max-width: 535px) {
	
    .green{
        background-color: rgb(255, 0, 187);
    }
    .col-1 {
        padding: 23px 0px 0 14px;
    
        }
}

@media (max-width: 500px) {
	
    .green{
        background-color: rgb(255, 85, 7);
    }
    .col-1 {
        padding: 23px 0px 0 14px;
    
        }
}

@media (max-width: 470px) {
	
    .green{
        background-color: rgb(0, 255, 255);
    }
    .col-1 {
        padding: 23px 0px 0 14px;
    
        }
}

@media (max-width: 435px) {
	
    .green{
        background-color: rgb(255, 255, 255);
    }
    .col-1 {
        padding: 23px 0px 0 14px;
    
        }
}

@media (max-width: 400px) {
	
    .green{
        background-color: rgb(229, 255, 0);
    }
    .col-1 {
        padding: 23px 0px 0 14px;
    
        }
}

@media (max-width: 370px) {
	
    .green{
        background-color: rgb(104, 106, 253);
    }
    .col-1 {
        padding: 23px 0px 0 14px;
    
        }
}

@media (max-width: 335px) {
	
    .green{
        background-color: rgb(238, 214, 0);
    }
    .col-1 {
        padding: 23px 0px 0 14px;
    
        }
}

@media (max-width: 300px) {
	
    .green{
        background-color: rgb(190, 0, 238);
    }
    .col-1 {
        padding: 23px 0px 0 14px;
    
        }
}

@media (max-width: 270px) {
	
    .green{
        background-color: rgb(0, 163, 238);
    }
    .col-1 {
        padding: 23px 0px 0 14px;
    
        }
}

.blinking-cursor {
    -webkit-animation: 1s blink step-end infinite;
    -moz-animation: 2s blink step-end infinite;
    -ms-animation: 1s blink step-end infinite;
    -o-animation: 1s blink step-end infinite;
    animation: 3s blink step-end infinite;
}

@keyframes "blink" {
  from, to {
    color: transparent;
  }
  20% {
    color: #31D843;
  }
}

@-moz-keyframes blink {
  from, to {
    color: transparent;
  }
  20% {
    color: rgb(255, 141, 96);
  }
}

@-webkit-keyframes "blink" {
  from, to {
    color: transparent;
  }
  10% {
    color:rgb(255, 141, 96);
  }
}

@-ms-keyframes "blink" {
  from, to {
    color: transparent;
  }
  20% {
    color:rgb(255, 141, 96);
  }
}

@-o-keyframes "blink" {
  from, to {
    color: transparent;
  }
  50% {
    color: rgb(255, 141, 96);
  }
}
